@import '~node_modules/modern-normalize/modern-normalize.css';

.container {
  margin: 0 auto;
  width: min(100%, 1370px);
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, min(320px, 100%));
  grid-template-rows: auto;
  column-gap: 20px;
  grid-auto-rows: auto;
  max-width: 100%;
  justify-content: center;

  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(2, min(320px, (100% - 20px)/2));
  }
  @media screen and (min-width: 681px) {
    grid-template-columns: repeat(3, min(320px, (100% - 40px)/3));
  }
  @media screen and (min-width: 1021px) {
    grid-template-columns: repeat(4, min(320px, (100% - 60px)/4));
  }
}

img {
  max-width: 100%;
  //   max-height: 100%;
  width: inherit;
  height: inherit;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}
